[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.

"""
body = """
{%- if version %}
## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{%- else %}
## [Unreleased]
{%- endif %}
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | striptags | trim | upper_first }}
{% for commit in commits %}
- {% if commit.scope %}*({{ commit.scope }})* {% endif %}\
{% if commit.breaking %}[**breaking**] {% endif %}\
{{ commit.message | upper_first }}\
{% endfor %}
{% endfor %}
"""
footer = ""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
sort_commits = "oldest"

commit_parsers = [
    { message = "^feat", group = "<!-- 0 -->Features" },
    { message = "^fix", group = "<!-- 1 -->Bug Fixes" },
    { message = "^improvement", group = "<!-- 2 -->Improvements" },
    { message = "^refactor", group = "<!-- 3 -->Refactor" },
    { message = "^doc", group = "<!-- 4 -->Documentation" },
    { message = "^perf", group = "<!-- 5 -->Performance" },
    { message = "^test", group = "<!-- 6 -->Testing" },
    { message = "^chore\\(release\\)", skip = true },
    { message = "^chore|^ci", group = "<!-- 7 -->Miscellaneous" },
    { message = "^revert", group = "<!-- 8 -->Reverted" },
]
